.button {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 5;
}

.pane {
    -fx-background-color: grey;
}

.button:disabled .hintButton:disabled{
    -fx-opacity: 0.5;
}